@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: "Nitti v500";
  src: url("https://assets.website-files.com/5dced91b6467912d0fa28335/5dcee71313d30e206590e710_nitti-normal-v500.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Tiempostextweb";
  src: url("https://assets.website-files.com/5dced91b6467912d0fa28335/5dceeec5a8c4102732ed4ff0_TiemposTextWeb-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Tiempostextweb";
  src: url("https://assets.website-files.com/5dced91b6467912d0fa28335/5dceeef96467913893a3a426_TiemposTextWeb-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: "Tiempostextweb";
  src: url("https://assets.website-files.com/5dced91b6467912d0fa28335/5dceeef9a5aec03b4ada2f2a_TiemposTextWeb-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: "Tiempostextweb";
  src: url("https://assets.website-files.com/5dced91b6467912d0fa28335/5dceeef9a5aec07afeda2f29_TiemposTextWeb-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: auto;
}
.news-page-container {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.news-page-container .main-content {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 14px;
  line-height: 20px;
}

.news-page-container .main-content .block-system-main-block .content .node--view-mode-full .field--name-node-post-date {
  font-family: "Nitti v500", Arial, sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
}
.news-page-container .main-content .block-system-main-block .content .node--view-mode-full .field--name-node-title h2 {
  font-family: "Karla", sans-serif;
  font-size: 40px;
  line-height: 45px;
  font-weight: 700;
  color: #2d3691;
  margin-bottom: 10px;
}
.news-page-container .main-content .block-system-main-block .content .node--view-mode-full .field--type-text-with-summary p {
  font-family: "Karla", sans-serif;
  font-size: 22px;
  line-height: 32px;
  color: #171717;
  margin-bottom: 10px;
}
.news-page-container .main-content .block-system-main-block .content .node--view-mode-full .field--type-image img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-family: "Karla", sans-serif;
  font-size: 12px;
  text-align: left;
  color: #6c6c6c;
  margin-top: 40px;
  margin-bottom: 50px;
}
.news-page-container .main-content .block-system-main-block .content .node--view-mode-full .field--type-entity-reference-revisions .field__item .paragraph--type--news {
  font-family: "Tiempostextweb", "Times New Roman", sans-serif;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
}
.news-page-container .main-content .block-system-main-block .content .node--view-mode-full .field--type-entity-reference-revisions .field__item .paragraph--type--news p {
  color: #171717;
  margin-bottom: 40px;
}
.news-page-container .main-content .block-system-main-block .content .node--view-mode-full .field--type-entity-reference-revisions .field__item .paragraph--type--news p a {
  text-decoration: underline;
}
.news-page-container .main-content .block-system-main-block .content .node--view-mode-full .field--type-entity-reference-revisions .field__item .paragraph--type--quote {
  font-family: "Tiempostextweb", "Times New Roman", sans-serif;
  font-style: italic;
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  border-left: 5px solid #e2e2e2;
  padding: 10px 20px;
  margin-bottom: 40px;
}
.news-page-container .main-content .block-system-main-block .content .node--view-mode-full .field--type-entity-reference-revisions .field__item .paragraph--type--subtitle {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #2d3691;
  text-align: left;
  margin: 10px 0;
}

.page-view-newspage #main {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
}

.page-view-newspage .view-content {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

.page-view-newspage .node--type-news:nth-child(2) {
  padding-left: 0px;
}
.page-view-newspage .node--type-news:last-child {
  padding-right: 0px;
}

.page-view-newspage .field--name-node-post-date {
  font-family: "Nitti v500", Arial, sans-serif;
  color: #6c6c6c;
  font-size: 14px;
}

.page-view-newspage .field--name-node-title h2 {
  margin-top: 5px;
  margin-bottom: 20px;
  line-height: 36px;
  font-family: Karla, sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #171717;
}

.page-view-newspage .field--name-body p {
  font-family: Tiempostextweb, "Times New Roman", sans-serif;
  line-height: 28px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #171717;
}

.page-view-newspage .field--name-node-link {
  font-family: "Nitti v500", Arial, sans-serif;
  margin-top: 20px;
}
.page-view-newspage .field--name-node-link a {
  color: #2d3691;
  text-decoration: none;
}
.page-view-newspage .field--name-node-link a:hover {
  color: #2d3691;
  text-decoration: none;
}
.page-view-newspage .field--name-node-link a::after {
  content: "→";
  font-family: "Karla", sans-serif;
  color: #2d3691;
  padding-left: 7px;
}

.page-view-newspage .news-block-image {
  padding-left: 0px;
}

.page-view-newspage .news-block-text {
  padding-right: 0px;
}

.page-view-newspage .node--view-mode-teaser {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #979797;
}

.page-view-newspage .view-content .views-row .field--name-field-image-for-news img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}

.page-view-newspage #main nav {
  position: relative;
}
.page-view-newspage #main nav .pagination {
  position: absolute;
  bottom: -1em;
  margin-left: auto;
  width: 70%;
}
.page-view-newspage #main nav .pagination .page-link {
  border: none;
  color: #2d3691;
  padding-left: 0px;
}
.page-view-newspage #main nav .pagination .page-link:hover {
  color: #2d3691;
  background: none;
  outline: none;
}
.page-view-newspage #main nav .pagination .page-link:focus {
  box-shadow: none;
}
.page-view-newspage #main nav .pagination .page-item span {
  display: none;
}
.page-view-newspage #main nav .pagination .page-item a span {
  font-family: "Nitti v500", Arial, sans-serif;
  display: block;
}

.page-view-newspage #main .view-footer {
  right: 0;
  bottom: 0.35em;
  position: absolute;
}

@media (min-width: 1919px) {
  .page-view-newspage #main {
    max-width: 1440px;
  }

  .page-view-newspage .news-block-image {
    padding-left: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 16.66667%;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .page-view-newspage .news-block-text {
    padding-right: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 83.33333%;
    -ms-flex: 0 0 83.33333%;
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .page-view-newspage .view-content .views-row .field--name-field-image-for-news {
    display: flex;
    justify-content: flex-end;
  }

  .page-view-newspage .view-content .views-row .field--name-field-image-for-news img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 991px) {
  .page-view-newspage #main {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
  }

  .news-page-container .row {
    margin-right: 0;
    margin-left: 0;
  }

  .page-view-newspage .view-content .views-row .field--name-field-image-for-news img {
    width: auto;
    height: auto;
  }

  .page-view-newspage .news-block-image {
    padding: 0px;
  }

  .page-view-newspage .news-block-text {
    padding: 0px;
  }

  .page-view-newspage .node--view-mode-teaser {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #979797;
  }
}
@media (max-width: 768px) {
  .page-view-newspage .view-content .views-row .field--name-field-image-for-news img {
    width: auto;
    height: auto;
  }
}
@media (max-width: 479px) {
  .page-view-newspage #main {
    padding-top: 40px;
  }

  .page-view-newspage .views-row {
    width: 100%;
  }

  .page-view-newspage #main nav .pagination {
    width: 100%;
  }
}
@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fromInvis {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fromTop {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@font-face {
  font-family: "Nitti v500";
  src: url("https://assets.website-files.com/5dced91b6467912d0fa28335/5dcee71313d30e206590e710_nitti-normal-v500.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
.page-view-newspage .layout-main-wrapper .container {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s, transform 0.5s;
  animation: fromBottom 1 0.5s forwards;
  animation-delay: 0.3s;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0;
}

.page-view-newspage .layout-main-wrapper .container .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
}
.page-view-newspage .layout-main-wrapper .container .row .main-content {
  max-width: 70%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 50px;
}
.page-view-newspage .layout-main-wrapper .container .row .sidebar {
  max-width: 30%;
  padding-left: 0;
  padding-right: 0;
  margin-top: 50px;
}

.page-view-newspage .layout-main-wrapper .container .sidebar #block-newsalone .content .field--name-body p {
  font-family: "Nitti v500", Arial, sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: #2d3691;
}

@media (max-width: 520px) {
  .page-view-newspage .layout-main-wrapper .container .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
  }
  .page-view-newspage .layout-main-wrapper .container .row .main-content {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
  }
  .page-view-newspage .layout-main-wrapper .container .row .sidebar {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
  }
}

/*# sourceMappingURL=news.css.map */
