@import "../variables.scss";
@import "../mixins";

.block-views-blockcompany-images-slider-block-1{
  padding: 300px 0;
  background-image: linear-gradient(180deg, $whitesmoke 50%, $white 0);
  overflow-x: hidden;

  .slick__arrow{
    padding-left: 15vw;
    position: absolute;
    top: -100px;

    .slick-arrow{
      background-color: transparent;
      border: none;
      color: transparent;
      font-size: 0;
      position: relative;

      &::after{
        display: inline-block;
        position: absolute;
        top: -100%;
        color: $darkslateblue;
        font-size: 2.5rem;
      }

      &.slick-prev::after{
        content: "←";
        right: 0;
      }

      &.slick-next::after{
        content: "→";
        left: 20px;
      }
    }
  }

  .row{
    margin-left: 0;
    margin-right: 0;
  }

  .slick > div{
    margin: 0 -15px;
  }

  .slick__slider{
    width: 100vw;
    overflow: hidden;
    left: 0;

    .slick-track{
      margin-left: -50vw;
      display: flex;
      align-items: center;

      .slick-slide{
        width: 70vw;
        float: none;

        img{
          max-width: 100%;
          height: auto;
          background-color: inherit;
        }

        .slide__content{
          display: flex;
          align-items: center;

          .slide__grid{
            @include appear_from_right_forJS;
            padding: 0;

            .contextual-region{
              padding: 0 30px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 520px) {
  .block-views-blockcompany-images-slider-block-1 .slick__slider .slick-track .slick-slide {
    width: 140vw;
  }
}
