@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
.privacy-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}
.privacy-container .main-content {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 14px;
  line-height: 20px;
}
.privacy-container .main-content .block-system-main-block .content .node--view-mode-full .node__content .field--type-text-with-summary {
  h2 {
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    line-height: 45px;
    font-weight: 700;
    color: #2d3691;
    margin-bottom: 10px;
    padding-top: 50px;
  }
  p {
    font-family: 'Karla', sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #171717;
    margin-bottom: 10px;
  }
}
@media (max-width: 1919px) {
  .privacy-container {
    width: 90%;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
}
