.site-footer .region-footer-third .region_footer_container{
  padding: 30px 0px;
  position: relative;
  flex-direction: column;
}
.site-footer .region-footer-third .region_footer_container .field--name-field-contact-link{
  display: none;
}
.site-footer .region-footer-third .region_footer_container #block-privacypolicy {
  width: 26%;
  margin-right: auto;
  font-size: 11px;
  z-index: 2;
  color: #fff;
  a {
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
    &:hover {
      color: #fff;
    }
  }
}
.page-view-newspage .site-footer .region-footer-third .region_footer_container #block-privacypolicy .field--type-text-with-summary p {
 color: #fff;
  font-size: 11px;
  margin: 0px;
  line-height: 1rem;
  a {
    text-decoration: none;
  }
}
.site-footer .region-footer-third .region_footer_container #block-joinourteam {
  position: relative;
  right: 0;
  bottom: 4em;
  font-size: 18px;
  text-align: right;
  p {
    margin: 0px;
    font-size: 18px;
  }
  a {
    color: #fff;
    font-family: Karla, sans-serif;
    font-size: 18px;
    &:hover {
      text-decoration: none;
    }
  }
  .field--type-link {
    font-weight: bold;
  }
  .field--name-field-contact-link-blank {
    a {
      color: #fff;
      font-family: Karla, sans-serif;
      font-size: 18px;
      &:hover {
        text-decoration: none;
      }
      &:after {
        content: "→";
        font-family: 'Karla', sans-serif;
        padding-left: 7px;
        color: #fff;
      }
    }
  }
}
.site-footer .region-footer-third .region_footer_container #block-socialmedialinks .social-media-links--platforms li{
  span {
    background: #fff;
    border-radius: 50%;
    width: 1.3em;
    height: 1.3em;
    padding: 5px;
    &:before {
      color: #000;
      border-radius: 50%;
      font-size: 14px;
    }
  }
  a {
    width: fit-content;
  }
}
